.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Order .container {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Order .container .col {
  flex: 1;
}
