.Navigationitem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.Navigationitem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}

@media (max-width: 500px) {
  .Navigationitem {
    margin: 10px 0;
    display: block;
    height: 100%;
    width: auto;
  }

  .Navigationitem a {
    color: #8f5c2c;
    text-decoration: none;
    height: 100%;
  }

  .Navigationitem a:hover,
  .Navigationitem a:active,
  .Navigationitem a.active {
    color: #40a4c8;
  }
}
